doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/validation.css')


  body
    block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/income.js')
    script(src='/javascripts/expense.js')
