extends layout

block content
   
  .container-fluid
    .row
      .col-6
          h5.head-title Congratulations! You are registered now.
          a.text(href='/') Click here to go to our login page.
    