body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/expense-tracker-bg.jpg");
}

a {
  color: #00B7FF;
}
.head-title {
  font: bold 20px courier !important;
  text-shadow: 3px 2px darkblue;
  color: whitesmoke;
  font-style: normal;
  padding: 20px;
}

.text-margin {
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 1px;
  margin-right: 2px;
  width: 200px;
  }


div.box {
  height: 100%;
  width: 300px;
  margin-top: 20px;
  background-color:white;
  border: 1px solid lightblue;
  border-radius: 8px;
  padding: 20px
  }

 
.button-width {
margin-top: 10px;
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
height: 30px;
width: 100px;
}

label.label-text {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  font: normal 15px courier !important;
  color: white;
}

p.text {
  color: white;
  font: bold 17px courier !important;
  margin-top: 20px;
  margin-bottom: 10px; 
}

a {
  color:white;
}
a:hover {
  color:white;
  font-size: 15px;
}

h3.text-margin {
  margin-top: 10px;
  margin-bottom: 5px;
}

